@tailwind base;
@tailwind components;
@tailwind utilities;

.Banner {
  width: Fixed (1,440px)px;
  height: Hug (44px)px;
  padding: 12px 16px 12px 16px;
  gap: 8px;
  opacity: 0px;
  background-color: #FC7A1D;
  text-align: center;
  font-size: large;
}

.header {
  display: flex;
  text-align: center;
  width: 1440px;
  height: 820px;
  padding: 40px 0px 0px 0px;
  gap: 8px;
  opacity: 0px;
}

.first {
  text-align: center;
}

.kartinka {
  width: 1440px;
  height: 926px;
  text-align: center;
  display: flex;
}

.banner1 {
  width: Fixed (1,440px)px;
  height: Hug (112px)px;
  padding: 40px 112px 40px 112px;
  gap: 250px;
  align-items: center;
  justify-content: center;
  opacity: 0px;
  display: flex;
  background-color: #FC7A1D;
  
}

.imageees{
  display: flex;
  width: 1440px;
  height: 926px;
}